---
title: Articles
header-img: "assets/img/blockchainheader.jpg"
home-title: Articles
description: 区块链跟踪学习者
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
</div>

<ul class="list-unstyled">
     {% for post in site.posts limit:100 %} 
	 {% unless post.next %} 
    <h3>{{ post.date | date: '%Y' }}</h3> 
	{% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} 
	{% if year != nyear %} 
    <h3>{{ post.date | date: '%Y' }}</h3> {% endif %} 
	{% endunless %} 
    <li><h4><span>{{ post.date | date_to_string }}</span>&raquo;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></h4></li> 
	{% endfor %} 
</ul> 



    
{% include footer.html %}
